@font-face {
  font-family: "futurino";
  src: url("fonts/futurino-outline-bold.ttf") format("truetype");
}

/*  */

/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #abc5aa;
  color: #000000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-family: "futurino", "Arial";
  text-align: center;
  margin-top: 0.9em;
  font-size: 4.5em;
}

/* Layout Main Content */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  position: relative;
  z-index: 0;
}

#pita-chef {
  position: absolute;
  top: -13em;
  left: 20px;
  width: 230px;
  height: auto;
}

/* Layout Ingredients Section */
.ingredient-categories {
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  margin-left: -20em;
  margin-top: 0.4em;
}

.ingredient-group {
  text-align: center;
  flex: 1;
}

.ingredient-group h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.ingredient-group ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.ingredient-group ul li {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.ingredient-group ul li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 2px solid #000;
  border-radius: 20%;
  background-color: #173d15;
}

/* Plate erasing buttons section */
.actions {
  position: fixed; /* Ensures buttons stay in place */
}

.eat-button {
  position: fixed;
  top: 2em;
  right: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.trash-button {
  position: fixed;
  bottom: 2em;
  right: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.eat-button img,
.trash-button img {
  width: 80px;
  height: 80px;
}

.eat-button p,
.trash-button p {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

/* Plate Section */
/* Plate Section */
/* Plate Section */
/* Plate Section */
/* Plate Section */
.plate-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.plate {
  position: absolute;
  width: 30em;
  height: auto;
  top: -28rem;
  margin-left: 25em;
  z-index: 1;
}

.hidden {
  margin-top: 2em;
}

.Pita-one,
.Pita-two,
.Pita-three,
.Pita-four {
  position: absolute;
  top: -25.5em; /* Adjust as needed */
  left: 45em; /* Adjust this too if needed */
  width: 25rem;
  z-index: 2;
}

.Sauce-one,
.Sauce-two,
.Sauce-three,
.Sauce-four {
  position: absolute;
  top: -21em; /* Adjust as needed */
  left: 45.7em; /* Adjust this too if needed */
  width: 23.5rem;
  z-index: 3;
}

.Topping-one,
.Topping-two,
.Topping-three,
.Topping-four {
  position: absolute;
  top: -21.5em; /* Adjust as needed */
  left: 43.5em; /* Adjust this too if needed */
  width: 28rem;
  z-index: 4;
}

.hidden {
  display: none; /* This hides the element */
}
